AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
Uninstaller
art
bc.conf
build.xml
doc
lib
music
sound
version.txt
.installationinformation

*.class
bin

# Package Files #
*.jar
*.war
*.ear
#vim swp files
*.swp

#MacOS thumbnails
.DS_Store

#emacs backup
*~

# Build RobotPlayer
# ?
# Since this folder is a build folder it will change heaps
# Original copies of files that might live in this folder should 
#  also still live in their original homes. You won't lose these files
#  you'll just not have to have to check them in every time you
#  do a build for a different robot.
teams/team085/*.java

#eclipse
.classpath
.project

#haters gonna hate
haters
replays

*.conf.backup

# you must create this yourself, based on sim.conf.example
simulator/sim.conf
