AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
Uninstaller
art
bc.conf
build.xml
doc
lib
music
sound
version.txt
.installationinformation

*.class
bin

# Package Files #
*.jar
*.war
*.ear

#MacOS thumbnails
.DS_Store

#emacs backup
*~

# Build RobotPlayer
# ?
# Since this folder is a build folder it will change heaps
# Original copies of files that might live in this folder should still live
#   in their original homes.
teams/team085/*.java

#eclipse
.classpath
.project

#haters gonna hate
haters
